assets/*
# archivos de configuración
/config/db.php
/config/params.php
/config/mailer.php

# directorios de imágenes
/web/img/*.jpg
/web/img/*.png
/web/img/categorias/*.jpg
/web/img/categorias/*.png
/web/img/cursos/*.jpg
/web/img/cursos/*.png
/web/img/portafolio/*.jpg
/web/img/portafolio/*.png
/web/img/users/*.jpg
/web/img/users/*.png
/web/img/webs/*.jpg
/web/img/webs/*.png

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
